{% extends 'base.html'%}
{% load static %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 top-div">
            <h1 style="text-align: center;">Business</h1>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'new_biz'%}"> <button class="btn btn-outline-success" style="border-radius: 12px;">Add Biz</button> </a>
    </div>
    <div class="row">
        {% for biz in business %}
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{biz.bizpic.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{biz.name}}</h5>
                    <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"></i>{{biz.email}}</p>
                    <p class="card-text"><i class="fa fa-phone-square" aria-hidden="true"></i>{{biz.contact}}</p>
                    <p class="card-text"> <i class="fa fa-info-circle" aria-hidden="true"></i> {{biz.mode}}</p>
                    <a href="#" class="btn btn-primary">Get In Touch</a>
                </div>
            </div>
        </div>
        {%endfor}
    </div>
</div>
{%endblock%}