{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <!-- <div class="row" style="margin-top: 100px;"></div> -->
    <div class="row" >
        <div class="col-md-12" style='background-color: #222222; font-size: 30px; text-align: center; color:aliceblue; height: 100px'>
            <h2><b>Welcome to NeighBourHoods</b></h2>
            <p>For all the latest news, updates & Information </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-image: url(); text-align: center; height: 200px; background-color: #ffffff;">
            <a class="btn btn-primary" style="border-radius: 12px;" href="{% url 'updates'%}"><i class="fas fa-clone left"></i>Updates</a>
        </div>
    </div>      
    <div class="row">
        <div class="col-md-4">
        </div>
    </div>
</div>
{%  endblock %}