{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="margin-top: 100px;"></div>
    <div class="row" >
        <div class="col-md-6" style='background-color: #222222; color:aliceblue; height: 100px'>
            <h4><b>Welcome to NeighBourHoods</b></h4>
            <p>For all the latest news, updates & Information </p>
        </div>
        <div class="col-md-6" style="background-image: url();height: 100px; background-color: #ffffff;">
            <a class="btn btn-primary" href="#"><i class="fas fa-clone left"></i>Updates</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>

</div>
{%  endblock %}